<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="profile-img-col">
        <div class="profile-frame">
          <img src="../../../assets/imgs/me.jpg" class="profile-img">
        </div>
      </ion-col>

      <ion-col size="1">
        <ion-button class="profile-btn" fill="outline" size="small">
          <ion-icon name="settings" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="2" offset="1">
        <ion-button class="profile-btn" fill="outline" size="small">
          <ion-icon name="people-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="2">
        <ion-button class="profile-btn" fill="outline" size="small">
          Edit Profile
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row padding-left class="name-row">
      Annah Ramones
    </ion-row>

    <ion-row padding-left class="handle">
      @annah
    </ion-row>

    <ion-row padding>
      Software Engineer, Physicist & Relaxer • Creator of @AccountAbility
    </ion-row>

    <ion-row padding-left text-uppercase>
      <ion-col>
        <b>540</b> <span class="muted">Following</span>
      </ion-col>
      <ion-col>
        <b>1,732</b> <span class="muted">Followers</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>

  <ion-list>
    <div *ngFor="let response of dummyResponses">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <img src="../../../assets/imgs/{{response.img}}">
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <ion-row align-items-center>
            <ion-col size="9">
              {{ response.username }} <span class="name">@{{ response.handle }}</span>
            </ion-col>
            <ion-col class="muted">
              <ion-icon name="chatbubbles"></ion-icon> {{ response.date | date: 'M/d'}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>{{ response.text }}</ion-col>
          </ion-row>

          <ion-row class="share-row">
            <ion-col size="4">
              <ion-button fill="clear" size="small">
                <ion-icon name="share-alt" slot="icon-only"></ion-icon><span class="muted"></span>
              </ion-button>
            </ion-col>

            <ion-col size="4">
              <ion-button fill="clear" size="small">
                <ion-icon name="repeat" slot="start"></ion-icon><span class="muted">{{ response.shareCount }}</span>
              </ion-button>
            </ion-col>

            <ion-col size="4">
              <ion-button fill="clear" size="small">
                <ion-icon name="star" slot="start"></ion-icon><span class="muted">{{ response.likeCount }}</span>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>
      <hr>
    </div>
  </ion-list>
</ion-content>
